header{
	background-image: url('images/MM3_2560x1600.jpg');
	background-size: cover;
	background-position: center;
}

@media screen and (max-width: 1000px){
	header{
		background-image: url('images/mobile/MM3_2560x1600.jpg');
	}
}
