header{
	background-image: url('images/MOT_2560x1600_Wallpaper.jpg');
	background-size: cover;
	background-position: center;
}

@media screen and (max-width: 1000px){
	header{
		background-image: url('images/mobile/MOT_2560x1600_Wallpaper.jpg');
	}
}
