nav{
	justify-content: center;
	text-align: center;
	padding: 0px 50px;
}

.home-header{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 15%;
	text-align: center;
	background-image: url('images/SCAG_2560x1600_Wallpaper.jpg');
	background-position: center;
	background-size: cover;
}

.home-header h1{
	position: relative;
	color: rgb(255, 255, 255);
	font-family: fleisch-wolf, sans-serif;
	font-weight: 400;
	font-style: normal;
	left: 0;
	bottom: 15px;
	z-index: 3;
}

.home-header p{
	font-family: garamond-premier-pro-display, serif;
	font-weight: 600;
	font-style: normal;
	font-size: 22px;
	letter-spacing: 1px;
	color: white;
	z-index: 3;
}

.body-container{
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.page-link-div{
	height: 400px;
	width: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-position: center right;
	background-size: cover;
}

.page-link-div h2{
	color: rgb(255, 255, 255);
	font-family: fleisch-wolf, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 5vw;
}

.page-link-div a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#cleric-page-link-div{
	background-image: url('images/00_Volos_2560x1600_Wallpaper_Template.jpg');
}

#wizard-page-link-div{
	background-image: url('images/MadMage_Expansion_2560x1600_Wallpaper_Template.jpg');
}

#paladin-page-link-div{
	background-image: url('images/ElementalEvil_2560x1600_Earth_Wallpaper.jpg');
}

#druid-page-link-div{
	background-image: url('images/MOT_2560x1600_Wallpaper.jpg');
}

footer{
	height: 300px;
	width: 100%;
	padding: 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@media only screen and (max-width: 768px){
	.home-header h1{
		font-size: 36px;
	}

	.home-header{
		min-height: 700px;
		padding: 30px;
	}

	.page-link-div{
		width: 100vw;
	}

	.page-link-div h2{
		color: rgb(255, 255, 255);
		font-family: fleisch-wolf, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 10vw;
	}

	footer h3{
		font-size: 6vw;
	}
}
