*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img{
	object-fit: cover;
}

body{
	background-image: url('images/andrew-buchanan-zh4XakpEu6s-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

a{
	text-decoration: none;
	color: inherit;
}

nav{
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px;
}

h3{
	font-size: 40px;
	line-height: 40px;
	font-family: adorn-engraved, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-bottom: 10px;
}

h4{
	font-size: 26px;
	font-family: adorn-engraved, sans-serif;
	font-weight: 400;
	font-style: normal;
}

li{
	list-style-type: none;
	font-family: garamond-premier-pro-display,serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.9px;
}

header{
	overflow: hidden;
	position: relative;
	display: block;
	width: 100%;
	height: 400px;
	font-size: 40px;
}

header h1{
	position: absolute;
	bottom: 50px;
	left: 50px;
	color: rgb(255, 255, 255);
	font-family: fleisch-wolf, sans-serif;
	font-weight: 400;
	font-style: normal;
}

header img{
	width: 100%;
	transform: translateY(650px);
}

.black-20p-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: black;
	opacity: 0.2;
}

.body-container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 50px;
}

.spell{
	cursor: pointer;
}

.spell-list-container{
	width: 55%;
	min-height: 800px;
	line-height: 25px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
}

.spell-list{
	margin-bottom: 50px;
	width: 350px;
}

#spell-description-box{
	display: none;
	/* align-self: flex-end; */
	position: sticky;
	/* right: 50px; */
	top: 5vh;
	/* transform: translateY(-50%); */
	z-index: 3;
	display: inline-block;
	width: 45%;
	height: 90vh;
	overflow: scroll;
	padding: 30px;
	background-image: url('images/annie-spratt-6a3nqQ1YwBw-unsplash.jpg');
	background-position: center;
	background-size: cover;
	color: white;
}

#spell-description-box h1{
	font-family: adorn-engraved, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	letter-spacing: 1.1px;
	max-width: 80%;
	margin-bottom: 20px;
}

#spell-description-box p{
	margin-top: 20px;
	font-family: garamond-premier-pro-display, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	letter-spacing: 1px;
}

#spell-description-box h5{
	font-family: adorn-engraved, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 1.1px;
}

.description-box-content{
	position: relative;
}

#close-trigger{
	min-width: 30px;
	min-height: 30px;
	cursor: pointer;
	text-decoration: underline;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	display: flex;
	display: none;
	align-items: center;
	justify-content: center;
}

#toggleDomainSpells{
	max-width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	text-align: center;
	cursor: pointer;
	margin: auto;
}

@media only screen and (max-width: 1439px) {
	.spell-list{
		width: 200px;
	}

	h3{
		font-size: 30px;
	}

	li{
		font-size: 16px;
		line-height: 20px;
	}

	#spell-description-box h1{
		font-family: adorn-engraved, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 32px;
		letter-spacing: 1.1px;
		max-width: 80%;
		margin-bottom: 20px;
	}

	#spell-description-box p{
		font-size: 18px;
	}

	#spell-description-box h5{
		font-size: 14px;
	}
}

@media only screen and (max-width: 1000px){
	#classes-menu{
		display: none;
	}
}

@media only screen and (max-width: 757px) {
	#spell-description-box{
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		width: 90%;
		height: 90%;
		padding: 60px 20px 40px 20px;
		background-image: url('images/annie-spratt-6a3nqQ1YwBw-unsplash.jpg');
		background-position: center;
		background-size: cover;
		color: white;
	}

	#close-trigger{
		display: flex;
		min-width: 100%;
		min-height: 40px;
		cursor: pointer;
		text-decoration: underline;
		position: absolute;
		top: -40px;
		left: 50%;
		transform: translateX(-50%);
	}

	.spell-list-container{
		width: 100%;
	}

	.spell-list{
		width: 100%;
	}

	h3{
		font-size: 34px;
	}

	li{
		font-size: 22px;
		line-height: 32px;
	}

	#classes-menu{
		display: none;
	}

	nav{
		justify-content: center;
		text-align: center;
		padding: 0px 50px;
	}

	header h1{
		position: absolute;
		bottom: 30px;
		left: 30px;
		max-width: 100%;
		color: rgb(255, 255, 255);
		font-family: fleisch-wolf, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 40px;
	}

	.spell-page-header{
		max-height: 200px;
	}
}
